@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');
* {
  font-size: 2rem;
}
html,
body {
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Libre Franklin', serif;
}
#header{
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    background-color: gray;
    font-family: 'Libre Baskerville', serif;
}
.table {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  border-collapse: unset;
}
.table td {
  padding: 0rem 0.75rem;
  background-color: #a5a8aa;
  color: white;
  outline: 5px solid white;
  width: 3rem;
  height: 3rem;
  border: none;
  text-align: center;
}
.table td:hover {
  background-color: #6d7275;
}
.winner-display {
  filter: blur(5px);
}
.winner-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  background-color: white;
  padding: 0rem 3rem;
  font-size: 2rem;
  color: #303331;
  text-align: center;
}
.play-again-btn{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -0%);
    font-size: 24px;
    padding: 0.25rem .25rem;
    border: 2px solid;
    border-radius: 0px;
    font-family: 'Libre Baskerville', serif;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,.btn-outline-secondary:focus{
    box-shadow: none;
}
.play-again-btn:focus-visible{
    outline: none;
}

